.course-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2cbcac;
    font-weight: bolder;
}

.courses-wrapper {
    margin-top: 15%;
    max-width: 85%;
    margin-left: 7%;
}

.add-button {
    display: flex;
    justify-content: center;

    padding-top: 10px;
}
