.main-content {
  margin: 10% 15%;

  .items {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    column-gap: 3%;

    .home-page-item-1 {
      margin-top: 5%;
      padding: 2%;
      border-radius: 3%;
      border: 2px solid #2bbbad;

      .clickable-item:hover {
        color: #2bbbad;
        cursor: pointer;
      }
    }

    .home-page-item-2 {
      margin-top: 5%;
      padding: 2%;
      border-radius: 3%;
      border: 2px solid #ac64cc;

      .clickable-item:hover {
        color: #ac64cc;
        cursor: pointer;
      }
    }
  }
}